.navbar-default {
    background-color: #000000;
    border-color: #e7e7e7;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.nav.navbar-nav.navbar-right li a {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    background-color: transparent;
    color: #ffffff;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #ffffff;
    color:#000000;
  }
  
.dropdown-menu > li a:focus { background-color: orange; background-image: none; filter: none; text-decoration: none; border: none; }

.navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 9px;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* Sidebar : sous menu en orange */
.sd {
	color:#8a6d3b;
	margin-left:12px;
}

.sdtitre {
	color:#337ab7;
}

/* Carte des quartiers de Roubaix */
.iris {
	stroke: #888;
	stroke-linejoin: round;
}

.point {
	font-weight: bold;
}

/* Permet d'ajouter un cadre à la carte
svg {
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
}
*/
	
.hidden {
	display: none;
}

div.tooltip {
	color: #222;
	background-color: #fff;
	padding: .5em;
	text-shadow: #f5f5f5 0 1px 0;
	border-radius: 2px;
	opacity: 0.9;
	position: -300px;
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
}

/* Tableau collections*/

thead {
	color: #555;
	font-size: 100%;
	vertical-align: middle;
}

.n1 {
	color: #337ab7;
	font-weight: bold;
	font-size: 115%;
}

.n2 {
	color: #8a6d3b;
	font-weight: bold;
	font-size: 110%;
}

.n3 {
	color: #555;
	font-weight: bold;
	font-size: 105%;
}

.n4 {
	color: #777;
	font-weight: bold;
	font-size: 100%;
}

.n5 {
	color: #777;
	font-weight: normal;
	font-size: 100%;
}

.col2 {
    padding-left: 50px;
}

.col3 {
    padding-left: 100px;
}

.acquereur{
	color: #da4453;
	font-weight: bold;
	font-size: 110%;
}