        <div id="sidebar">
			[% INCLUDE 'includes/sidebar.tt' %]
		</div>
        <div class="col-sm-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <strong>
					[% label %]
					</strong>
				</div>
				<div class="panel-body">
				
				[% iframe %]
				
				</div>
            </div>
			
        </div>